body{
    background-color: black;
}
.wrap{
    width: 600px;
    background: linear-gradient(90deg,blue,green,yellow,red);
    padding: 15px;
    margin:200px auto;
}
h1{
    display: block;
    color: grey;
    text-align: center;
    font-size: 50px;
}